body {
   overflow-x: hidden;
   font-family: 'Roboto', sans-serif;
}

/* Toggle Styles */

#wrapper {
   padding-left: 0;
   -webkit-transition: all 0.5s ease;
   -moz-transition: all 0.5s ease;
   -o-transition: all 0.5s ease;
   transition: all 0.5s ease;
}

#wrapper.toggled {
   padding-left: 200px;
}

#sidebar-wrapper {
   z-index: 1000;
   position: fixed;
   left: 1px;
   width: 0;
   height: 100%;
   margin-left: -100px;
   overflow-y: auto;
   background: #27ae60;
   -webkit-transition: all 0.5s ease;
   -moz-transition: all 0.5s ease;
   -o-transition: all 0.5s ease;
   transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
   width: 270px;
}

#page-content-wrapper {
   width: 100%;
   position: absolute;
   padding: 20px;
}

#page-content-wrapper h1 {
   border-left: 15px solid #27ae60;
   font-family: 'League-Gothic', sans-serif;
   text-transform: uppercase;
   font-size: 4.45em;
   padding-left: 10px;
}

#page-content-wrapper h2 {
   font-family: 'League-Gothic', sans-serif;
   font-size: 3.25em;
}

#wrapper.toggled #page-content-wrapper {
   position: absolute;
   margin-right: -370px;
}

.row {
  width: 100%;
}

.information {
    padding: 30px;
    background: #27ae60;
    font-family: 'Roboto';
    font-size: 1.1em;
    width: 70%;
    margin: 3% auto;
}

.information p {
  color: white;
  font-size: 1.1em;
}

/* Sidebar Styles */

.sidebar-nav {
   position: absolute;
   top: 0;
   width: 100%;
   margin: 0;
   padding: 0;
   list-style: none;
   background: #27ae60;
   font-family: 'Roboto', sans-serif;
}

.sidebar-nav li {
   line-height: 60px;
   text-indent: 100px;
}

.sidebar-nav li a {
   display: block;
   text-decoration: none;
   color: #ecf0f1;
   transition: all ease-in-out 0.3s;
   font-size: 13px;
}

.sidebar-nav li a:hover {
   text-decoration: none;
   color: #fff;
   background: rgba(255,255,255,0.2);
}

.active {
   background: rgba(255,255,255,0.2);
}


.menu-toggle {
   float: right;
}

.table-responsive, a {
   font-family: 'Roboto';
}

.btn-custom {
  display: block;
  color: white;
  font-family: 'Roboto';
  background-color: #27ae60;
  padding: 15px;
  width: 150px;
  border-radius: 0;
  font-size: 1em;
  opacity: 0.9;
  transition: all 0.3s ease-in-out;
}

.btn-custom-1 {
  display: block;
  color: #4a4a4a;
  font-family: 'Roboto';
  background-color: #e1e1e1;
  padding: 15px;
  width: 170px;
  border-radius: 0;
  font-size: 1em;
  opacity: 0.9;
  transition: all 0.3s ease-in-out;
}

.btn-custom-2 {
  color: white;
  font-family: 'Roboto';
  background-color: #27ae60;
  padding: 4px;
  width: 100px;
  border-radius: 20px;
  font-size: 0.9em;
  opacity: 0.9;
  transition: all 0.3s ease-in-out;
}

.btn-custom-3 {
  color: #4a4a4a;
  font-family: 'Roboto';
  background-color: #e1e1e1;
  padding: 4px;
  width: 100px;
  border-radius: 20px;
  font-size: 0.9em;
  opacity: 0.9;
  transition: all 0.3s ease-in-out;
}

.btn-custom-4 {
  color: white;
  font-family: 'Roboto';
  background-color: #595959;
  padding: 4px;
  width: 100px;
  border-radius: 20px;
  font-size: 0.9em;
  opacity: 0.9;
  transition: all 0.3s ease-in-out;
}

p {
  font-size: 1.2em;
  font-family: 'Roboto';
  font-weight: 300;
}

.admin-message {
  width: 95%;
  margin: 0 auto;
}

.admin-message p {
  font-size: 1.1em;
  font-style: italic;
  font-weight: 300;
  margin: 0 auto;
}

table th {
  background-color: #27ae60;
  color: white;
  text-align: center;
  font-weight: 400;
}

table {
  text-align: center;
}

table tr {
  height: 75px;
}

table td {
  position: relative;
  top: 50%;
  transform: translateY(21%);
}

.admin-message .take-note {
  font-size: 1.1em;
  font-style: italic;
  font-weight: 700;
}

.action-button button {
  display: inline-block;
}

.modal-content {
    padding: 25px 20px 25px 20px;
    border: none;
}


.modal-body p {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 1em;
  color: #4a4a4a;
}

.modal-body button {
  display: inline-block;
  margin: 1%;
}

.portlet-header button {
  display: inline-block;
  margin-right: 3%;
}

#sel1 {
  border-radius: 0;
  color: #696969;
  background-color: #e1e1e1;
  box-shadow: none;
  border-color: #e1e1e1;
  height: 52px;
  width: 100%;
}

#dropdown-mobile {
  display: none;
}

.success-message {
  border: 1px solid #27ae60;
  padding: 15px;
  color: #696969;
}

.error-message {
  border: 1px solid #e74c3c;
  padding: 15px;
  color: #696969;
}

.error-message button {
  background-color: #e74c3c;
}

.success-message h3, .error-message h3 {
  font-weight: 700;
  font-style: italic;
}

@media(min-width:768px) {
   #wrapper {
       padding-left: 200px;
   }

   #wrapper.toggled {
       padding-left: 0;
   }

   #sidebar-wrapper {
       width: 270px;
   }

   #wrapper.toggled #sidebar-wrapper {
       width: 0;
   }

   #page-content-wrapper {
       padding: 20px;
       position: relative;
   }

   #wrapper.toggled #page-content-wrapper {
       position: relative;
       margin-right: 10px;
   }
}

@media(max-width:768px) {

.btn-custom {
    color: white;
    font-family: 'Roboto';
    background-color: #27ae60;
    padding: 15px;
    width: 100%;
    margin: 0 auto;
    border-radius: 0;
    font-size: 1em;
    opacity: 0.9;
    transition: all 0.3s ease-in-out;
  }

.btn-custom-1 {
    color: #4a4a4a;
    font-family: 'Roboto';
    background-color: #e1e1e1;
    padding: 15px;
    width: 100%;
    border-radius: 0;
    font-size: 1em;
    opacity: 0.9;
    transition: all 0.3s ease-in-out;
    margin: 0 auto;
    margin-bottom: 20px;
  }

  #page-content-wrapper h1 {
     border-bottom: 2px solid #27ae60;
     width: 60%;
     border-left: none;
     font-family: 'League-Gothic', sans-serif;
     text-transform: uppercase;
     font-size: 3em;
     padding-bottom: 10px;
     padding-left: 0px;
     margin: 0 auto;
     text-align: center;
     margin-bottom: 20px;
  }

  .form-inline .form-group {
    display: block;
    margin-bottom: 20px;
  }

.form-group #sel1 {
    width: 100%;
    margin: 0 auto;
  }

.not-important {
    display: none;
  }

#not-important {
    display: none;
  }

#dropdown-mobile {
  display: inline-block;
}

}

@media(max-width:1550px) {
  .not-important {
      display: none;
    }
}

@font-face {
    font-family: 'League-Gothic';
    src: url('LeagueGothic-Regular.eot?#iefix') format('embedded-opentype'),
         url('LeagueGothic-Regular.woff') format('woff'),
         url('LeagueGothic-Regular.ttf') format('truetype'),
         url('LeagueGothic-Regular.svg#svgFontName') format('svg');
    }

th {
  text-align: center;
}

table {
  text-align: center;
  width: 95%;
}

/***
Bootstrap Line Tabs by @keenthemes
A component of Metronic Theme - #1 Selling Bootstrap 3 Admin Theme in Themeforest: http://j.mp/metronictheme
Licensed under MIT
***/

.content {
	padding: 30px;
	background: #e1e1e1;
}

.margin-bottom-30 {
	margin-bottom: 30px;
}

/* Portlet */
.portlet {
	background: #fff;
	padding: 20px;
  width: 100%;
  margin: 0 auto;
}

.portlet.portlet-bordered {
	border: 1px solid #eee;
}

/* Portlet Title */
.portlet-title {
	padding: 0;
  	min-height: 40px;
  	border-bottom: 1px solid #eee;
  	margin-bottom: 18px;
}

.caption {
	float: left;
	display: inline-block;
	font-size: 18px;
	line-height: 18px;
  text-transform: uppercase;
}

.caption.caption-red .caption-subject,
.caption.caption-red i {
	color: #27ae60;
	font-weight: 200;
}

.caption-subject {
	color: #666;
	font-size: 16px;
	font-weight: 600;
}

.caption-helper {
	padding: 0;
	margin: 0;
	line-height: 13px;
	color: #9eacb4;
	font-size: 13px;
	font-weight: 400;
}


/* Tab */
.portlet-title > .nav-tabs {
	background: none;
	margin: 0;
	float: left;
	display: inline-block;
	border: 0;
}

.portlet-title > .nav-tabs > li {
	background: none;
	margin: 0;
	border: 0;
}

.portlet-title > .nav-tabs > li > a {
	background: none;
	border: 0;
	padding: 6px 10px 13px;
	color: #444;
  font-size: 12px;
  display: inline-block;
}

.portlet-title > .nav-tabs > li.active,
.portlet-title > .nav-tabs > li.active:hover {
  	border-bottom: 4px solid #27ae60;
  	position: relative;
  }

  .portlet-title > .nav-tabs > li:hover {
  	border-bottom: 4px solid #59d98e;
  }

.portlet-title > .nav-tabs > li.active > a,
.portlet-title > .nav-tabs > li:hover > a {
	color: #333;
	background: #fff;
	border: 0;
}
