body {
   overflow-x: hidden;
   font-family: 'Roboto', sans-serif;
}

/* Toggle Styles */

#wrapper {
   padding-left: 0;
   -webkit-transition: all 0.5s ease;
   -moz-transition: all 0.5s ease;
   -o-transition: all 0.5s ease;
   transition: all 0.5s ease;
}

#wrapper.toggled {
   padding-left: 200px;
}

#sidebar-wrapper {
   z-index: 1000;
   position: fixed;
   left: 1px;
   width: 0;
   height: 100%;
   margin-left: -100px;
   overflow-y: auto;
   background: #27ae60;
   -webkit-transition: all 0.5s ease;
   -moz-transition: all 0.5s ease;
   -o-transition: all 0.5s ease;
   transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
   width: 270px;
}

#page-content-wrapper {
   width: 100%;
   position: absolute;
   padding: 20px;
}

#page-content-wrapper h1 {
   font-family: 'League-Gothic', sans-serif;
   font-size: 3.75em;
   color: #4d4d4d;
   padding-left: 12px;
   text-transform: uppercase;
   border-left: 8px solid #27ae60;
}

h1 {
  font-family: 'League-Gothic', sans-serif;
  font-size: 3.25em;
  color: #4d4d4d;
  text-transform: uppercase;
}

#page-content-wrapper h2 {
   font-family: 'League-Gothic', sans-serif;
   font-size: 3.25em;
}

#page-content-wrapper a {
  text-decoration: none;
  color: inherit;
}

#page-content-wrapper a:hover {
  color: inherit;
}

#wrapper.toggled #page-content-wrapper {
   position: absolute;
   margin-right: -370px;
}

.row {
  width: 100%;
}

.information {
    padding: 30px;
    background: white;
    font-family: 'Roboto';
    font-size: 1.1em;
    -webkit-box-shadow: 0px 3px 0px 0px #e6e6e6;
    -moz-box-shadow: 0px 3px 0px 0px #e6e6e6;
    box-shadow: 0px 3px 0px 0px #e6e6e6;
    width: 100%;
    margin: 0 auto;
    border: 2px solid #e6e6e6;
    border-radius: 2px;
    transition: all 0.4s ease-in-out;
}

.information:hover {
  border: 2px solid #cccccc;
  box-shadow: none;
}

.information p {
  color: #4a4a4a;
  font-size: 1.1em;
}

.information-1 {
  padding: 25px;
  background: white;
  font-family: 'Roboto';
  font-size: 1em;
  -webkit-box-shadow: 0px 3px 0px 0px #e6e6e6;
  -moz-box-shadow: 0px 3px 0px 0px #e6e6e6;
  box-shadow: 0px 3px 0px 0px #e6e6e6;
  width: 100%;
  margin-bottom: 30px;
  border: 2px solid #e6e6e6;
  border-radius: 2px;
  transition: all 0.4s ease-in-out;
}

.information-1:hover {
  border: 2px solid #cccccc;
  box-shadow: none;
}

.information-1 p {
  color: #4a4a4a;
  font-size: 1em;
}

.verticalLine {
  border-left: 2px solid black;
}

.information-1 .more-link p {
  font-weight: 700;
  color: #27ae60;
  font-family: 'Roboto';
  text-align: center;
  cursor: pointer;
  font-size: 0.95em;
  text-transform: uppercase;
  opacity: 0.8;
  transition: all 0.4s ease-in-out;
}

.information-1 .more-link p:hover {
  opacity: 1;
}

.information-add {
  padding: 25px;
  background-color: #f2f2f2;
  font-size: 1em;
  -webkit-box-shadow: 0px 3px 0px 0px #e6e6e6;
  -moz-box-shadow: 0px 3px 0px 0px #e6e6e6;
  box-shadow: 0px 3px 0px 0px #e6e6e6;
  width: 100%;
  margin-bottom: 30px;
  border: 2px solid #e6e6e6;
  border-radius: 2px;
  transition: all 0.4s ease-in-out;
  height: 200px;
  color: #808080;
  cursor: pointer;
  opacity: 0.7;
}

.information-add a {
  position: relative;
  top: 38%;
  transform: translateY(20%);
  font-family: 'Rubik', sans-serif;
  display: block;
}

.information-add:hover {
  border: 2px solid #e6e6e6;
  box-shadow: none;
  color: #666666;
  opacity: 1;
}

/* Sidebar Styles */

.sidebar-nav {
   position: absolute;
   top: 0;
   width: 100%;
   margin: 0;
   padding: 0;
   list-style: none;
   background: #27ae60;
}

.sidebar-nav li {
   line-height: 60px;
   text-indent: 105px;
}

.sidebar-nav li a {
   display: block;
   text-decoration: none;
   color: #ecf0f1;
   transition: all ease-in-out 0.3s;
   font-size: 12px;
   font-family: 'Rubik', sans-serif;
}

.sidebar-nav li a:hover {
   color: #fff;
   background: rgba(255,255,255,0.2);
}

.active {
   background: rgba(255,255,255,0.2);
}


.menu-toggle {
   float: right;
}

.table-responsive, a {
   font-family: 'Roboto';
}

.btn-custom {
  display: block;
  color: white;
  font-family: 'Roboto';
  background-color: #27ae60;
  padding: 15px;
  width: 150px;
  border-radius: 0;
  font-size: 1em;
  opacity: 1;
  transition: all 0.3s ease-in-out;
  border: 2px solid #27ae60;
  font-weight: 700;
  -webkit-box-shadow: 0px 3px 0px 0px #219150;
  -moz-box-shadow: 0px 3px 0px 0px #219150;
  box-shadow: 0px 3px 0px 0px #219150;
}

.btn-custom-1 {
  display: block;
  color: #4a4a4a;
  font-family: 'Roboto';
  background-color: #f2f2f2;
  padding: 15px;
  width: 170px;
  border-radius: 0;
  font-size: 1em;
  opacity: 1;
  font-weight: 700;
  transition: all 0.4s ease-in-out;
  border: 2px solid #f2f2f2;
  -webkit-box-shadow: 0px 3px 0px 0px #e1e1e1;
  -moz-box-shadow: 0px 3px 0px 0px #e1e1e1;
  box-shadow: 0px 3px 0px 0px #e1e1e1;
  text-decoration: none;
}

.btn-custom-1:hover, .btn-custom-6:hover {
  background-color: #e1e1e1;
  color: #4a4a4a;
  border: 2px solid #e1e1e1;
}


.btn-custom-2 {
  color: white;
  font-family: 'Roboto';
  background-color: #27ae60;
  padding: 4px;
  width: 120px;
  border-radius: 20px;
  font-size: 0.9em;
  opacity: 1;
  font-weight: 700;
  transition: all 0.4s ease-in-out;
  border: 2px solid #27ae60;
}

.btn-custom-3 {
  color: #4a4a4a;
  font-family: 'Roboto';
  background-color: #e1e1e1;
  padding: 4px;
  width: 120px;
  border-radius: 20px;
  font-size: 0.9em;
  opacity: 1;
  font-weight: 700;
  transition: all 0.4s ease-in-out;
  border: 2px solid #e1e1e1;
}

.btn-custom-4 {
  color: white;
  font-family: 'Roboto';
  background-color: white;
  border: 2px solid #27ae60;
  padding: 15px;
  width: 80%;
  border-radius: 2px;
  font-size: 0.95em;
  opacity: 1;
  transition: all 0.4s ease-in;
  color: #27ae60;
  font-weight: 700;
  text-transform: uppercase;
}

.btn-custom-4:hover {
  color: white;
  background-color: #27ae60;
}

.btn-custom-5 {
  display: block;
  color: white;
  font-family: 'Roboto';
  background-color: #27ae60;
  padding: 10px;
  width: 100%;
  border-radius: 0;
  font-size: 0.9em;
  opacity: 1;
  transition: all 0.4s ease-in-out;
  border: 2px solid #27ae60;
  font-weight: 700;
  -webkit-box-shadow: 0px 3px 0px 0px #219150;
  -moz-box-shadow: 0px 3px 0px 0px #219150;
  box-shadow: 0px 3px 0px 0px #219150;
}

.btn-custom-6 {
  color: #4a4a4a;
  font-family: 'Roboto';
  background-color: #f2f2f2;
  padding: 10px;
  width: 100%;
  border-radius: 0px;
  font-size: 0.9em;
  opacity: 1;
  transition: all 0.4s ease-in-out;
  font-weight: 700;
  border: 2px solid #f2f2f2;
  -webkit-box-shadow: 0px 3px 0px 0px #e1e1e1;
  -moz-box-shadow: 0px 3px 0px 0px #e1e1e1;
  box-shadow: 0px 3px 0px 0px #e1e1e1;
}

.btn-custom-7 {
  color: white;
  font-family: 'Roboto';
  background-color: #696969;
  padding: 10px;
  width: 100%;
  border-radius: 0px;
  transition: all 0.4s ease-in-out;
  opacity: 1;
  font-weight: 700;
  border: 2px solid #696969;
  -webkit-box-shadow: 0px 3px 0px 0px #595959;
  -moz-box-shadow: 0px 3px 0px 0px #595959;
  box-shadow: 0px 3px 0px 0px #595959;
}

.btn-custom-7:hover {
  background-color: #595959;
  color: white;
  border: 2px solid #595959;
}

.btn-custom-8 {
  display: block;
  color: white;
  font-family: 'Roboto';
  background-color: #27ae60;
  border-radius: 0px;
  font-size: 0.9em;
  opacity: 1;
  transition: all 0.4s ease-in-out;
  height: 52px;
  width: 100px;
}

.btn-custom-11 {
  color: #696969;
  font-family: 'Roboto';
  background-color: white;
  padding: 10px;
  width: 100%;
  border-radius: 0px;
  transition: all 0.4s ease-in-out;
  opacity: 1;
  font-weight: 700;
  border: 2px solid #e1e1e1;
}

.btn-custom-11:hover {
  border: 2px solid #696969;
  color: #696969;
}

.btn-custom-9 {
  color: white;
  font-family: 'Roboto';
  background-color: #e74c3c;
  padding: 4px;
  width: 120px;
  border-radius: 20px;
  font-size: 0.9em;
  border: none;
  opacity: 1;
  font-weight: 700;
  transition: all 0.4s ease-in-out;
  border: 2px solid #e74c3c;

	animation-name: flash;
	animation-duration: 0.8s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;

	//Firefox 1+
	-webkit-animation-name: flash;
	-webkit-animation-duration: 0.8s;
	-webkit-animation-timing-function: linear;
	-webkit-animation-iteration-count: infinite;

	//Safari 3-4
	-moz-animation-name: flash;
	-moz-animation-duration: 0.8s;
	-moz-animation-timing-function: linear;
	-moz-animation-iteration-count: infinite;
}

.btn-custom-10 {
  color: white;
  font-family: 'Roboto';
  background-color: #e74c3c;
  padding: 4px;
  width: 120px;
  border-radius: 20px;
  font-size: 0.9em;
  border: none;
  opacity: 1;
  font-weight: 700;
  transition: all 0.4s ease-in-out;
  border: 2px solid #e74c3c;
}

@keyframes flash {
    0% { opacity: 1.0; }
    50% { opacity: 0.7; }
    100% { opacity: 1.0; }
}

//Firefox 1+
@-webkit-keyframes flash {
    0% { opacity: 1.0; }
    50% { opacity: 0.7; }
    100% { opacity: 1.0; }
}

//Safari 3-4
@-moz-keyframes flash {
    0% { opacity: 1.0; }
    50% { opacity: 0.7; }
    100% { opacity: 1.0; }
}


.btn-custom-2:hover, .btn-custom-8:hover {
  border: 2px solid #27ae60;
  color: #27ae60;
  background-color: white;
  box-shadow: none;
}

.btn-custom-5:hover, .btn-custom:hover {
  border: 2px solid #219150;
  color: white;
  background-color: #219150;
}

.btn-custom-3:hover {
  border: 2px solid #4a4a4a;
  background-color: #e1e1e1;
}

.btn-custom-9:hover, .btn-custom-10:hover {
  color: #e74c3c;
  background-color: white;
}

.btn a {
  text-decoration: none;
}

.table-responsive th {
  background-color: #27ae60;
  color: white;
  text-align: center;
  font-weight: 700;
  border-bottom: 4px solid #219150;
  white-space: nowrap;
}

.table-responsive table {
  text-align: center;
  vertical-align: middle;
}

.table-responsive tr {
  height: 75px;
}

.table-responsive td {
  position: relative;
  top: 50%;
  transform: translateY(21%);
  white-space: nowrap;
}

.admin-statistics {
  padding-right: 15px;
}

.form-group {
    color: #696969;
}

.form-group label {
  font-weight: 400;
}

.form-group p {
  font-weight: 700;
  font-size: 1em;
  color: #696969;
}

.form-group h4, .admin-message h4, .announcement-message h4, .modal-content h4 {
  font-weight: 700;
  color: #696969;
}

.admin-message p {
  font-size: 1.1em;
  font-family: 'Roboto', sans-serif;
  color: #696969;
  text-align: justify;
  letter-spacing: 0px;
  line-height: 30px;
  font-weight: 300;
}

.announcement-message p {
  font-size: 1em;
  font-family: 'Rubik', sans-serif;
  color: #696969;
  text-align: justify;
  letter-spacing: 0px;
  line-height: 30px;
  font-weight: 400;
}

.announcement-message .date-posted {
  line-height: 20px;
  font-family: 'Rubik', sans-serif;
  font-size: 1em;
  color: #27ae60;
  font-weight: 400;
  float: left;
  padding-right: 10px;
}

#page-content-wrapper .a-links {
  color: #27ae60;
  font-weight: 700;
  font-size: 1.1em;
}

#page-content-wrapper .a-links:hover {
  color: #27ae60;
}

.announcement-message .warning-user {
  font-weight: 700;
}

#search-group {
  position: relative;
}

#search-group button {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
}

.admin-message .take-note {
  font-size: 1.1em;
  font-style: italic;
  font-weight: 700;
}

.modal-content {
    padding: 30px 25px 30px 25px;
    border: 0px;
    box-shadow: none;
    border-radius: 0px;
}

.modal-body p {
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  font-size: 1em;
  color: #696969;
}

.modal-body button {
  display: inline-block;
  margin: 1%;
}

.ticket-summary {
  font-family: 'Roboto', sans-serif;
  font-size: 1.1em;
  font-style: italic;
  color: #4a4a4a;
}

#sel1, #user-name, #user-password, #sum, #datetimepicker4 {
  border-radius: 0;
  color: #696969;
  box-shadow: none;
  height: 52px;
  width: 100%;
  border: 2px solid #e1e1e1;
  transition: all 0.4s ease-in-out;
  font-family: 'Rubik', sans-serif;
}

#user-message {
  border-radius: 0;
  color: #696969;
  box-shadow: none;
  height: 350px;
  width: 100%;
  border: 2px solid #e1e1e1;
  transition: all 0.4s ease-in-out;
  padding: 15px 15px;
  font-family: 'Rubik', sans-serif;
  line-height: 30px;
}

#sel1:focus, #user-name:focus, #user-password:focus, #sum:focus, #user-message:focus {
  border: 2px solid #27ae60;
}

#dropdown-mobile {
  display: none;
}

.ticket-id {
  padding: 10px;
  background-color: white;
  border: 2px solid #696969;
  border-left: 10px solid #696969;
  width: 200px;
  font-family: 'Rubik', sans-serif;
  margin: 0 auto;
}

.success-message {
  border: 2px solid #27ae60;
  padding: 15px;
  color: #696969;
  width: 100%;
  border-radius: 2px;
  font-family: 'Rubik', sans-serif;
  margin-top: 25px;
}

.error-message {
  border: 2px solid #e74c3c;
  padding: 15px;
  color: #696969;
  width: 100%;
  border-radius: 2px;
  font-family: 'Rubik', sans-serif;
  margin-top: 25px;
}

.error-message button {
  background-color: #e74c3c;
  color: white;
  font-family: 'Roboto';
  padding: 4px;
  width: 100px;
  border-radius: 20px;
  font-size: 0.9em;
  opacity: 1;
  font-weight: 700;
  transition: all 0.4s ease-in-out;
  border: 2px solid #e74c3c;
}

.error-message button:hover {
  color: #e74c3c;
  border: 2px solid #e74c3c;
}

.success-message h3, .error-message h3 {
  font-weight: 700;
  font-style: italic;
  font-family: 'Roboto', sans-serif;
}

.success-message p {
  font-family: 'Rubik', sans-serif;
}

.portlet-header button {
  margin-bottom: 30px;
}

.error {
  font-style: italic;
  color: #e74c3c;
  font-weight: 400;
  font-size: 0.9em;
}

.dues-buttons {
  text-align: center;
}

.modal-content .warning-message {
  font-weight: 400;
  font-style: normal;
  font-style: 0.9em;
  color: #e74c3c;
}

/*new login form */

.header {
  margin-top: 5px;
  background-color: white;
}

.header h2 {
  font-family: 'League-Gothic', sans-serif;
  font-size: 3.25em;
  text-transform: uppercase;
  padding: 5px;
}

.row-hr {
  margin-top: 20px;
  width: 50px;
  border: 2px solid #27ae60;
}

.login-content {
  background-color: #f2f2f2;
}

.login-form {
    padding: 40px;
    background: white;
    font-family: 'Roboto';
    font-size: 1.1em;
    width: 100%;
}

.login-form button {
  width: 100%;
  font-size: 0.9em;
  letter-spacing: 0.5px;
}

.error-login {
  padding: 20px;
  padding-bottom: 40px;
  background-color: white;
  color: #e74c3c;
  width: 100%;
  margin: 0 auto;
  font-size: 1em;
  text-align: center;
  font-family: 'Rubik', sans-serif;
}

.footer-note {
  font-family: 'Rubik', sans-serif;
  margin-bottom: 15px;
}

.form-group .help-block {
  font-size: 0.9em;
  font-style: italic;
  font-weight: 400;
}

.activity-bar {
  padding: 18px;
  border: 2px solid #e6e6e6;
  width: 100%;
  margin-bottom: 20px;
  margin-top: 20px;
  height: 250px;
  transition: all 0.3s ease-in-out;
  opacity: 0.8;
  border-radius: 2px;
  -webkit-box-shadow: 0px 3px 0px 0px #e6e6e6;
  -moz-box-shadow: 0px 3px 0px 0px #e6e6e6;
  box-shadow: 0px 3px 0px 0px #e6e6e6;
  cursor: pointer;
}

.activity-bar:hover {
  border: 2px solid #27ae60;
  box-shadow: none;
}

.activity-bar h4, .ticket-type h4 {
  font-weight: 700;
  color: #696969;
  font-size: 16px;
  text-align: center;
  padding-top: 5px;
}

.activity-heading {
  color: #696969;
  text-transform: uppercase;
  margin-top: 25px;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}

.activity-heading hr {
  border: 2px solid #27ae60;
  width: 60px;
}

.activity-bar p {
  font-family: 'Rubik', sans-serif;
}

.ticket-type {
  padding: 25px;
  border: 2px solid #e6e6e6;
  margin-top: 25px;
  margin-left: 25px;
  transition: all 0.4s ease-in;
  opacity: 0.8;
  cursor: pointer;
  border-radius: 2px;
  -webkit-box-shadow: 0px 3px 0px 0px #e6e6e6;
  -moz-box-shadow: 0px 3px 0px 0px #e6e6e6;
  box-shadow: 0px 3px 0px 0px #e6e6e6;
}

.ticket-type:hover {
  border: 2px solid #696969;
  box-shadow: none;
}

.ticket-type p {
  font-family: 'Rubik', sans-serif;
}

/*end form*/

.badge {
  background-color: white;
  border: 1px solid #1c7d44;
  color: #1c7d44;
  padding: 4px 7px;
  font-size: 10px;
  margin-left: 5px;
  margin-top: -5px;
  font-family: 'Roboto';
}

.dropdown a {
  font-weight: 700;
  font-size: 12px;
}

#menu-toggle {
  font-family: 'Roboto';
  position: relative;
  height: 45px;
  width: 100px;
  padding: 5px 5px;
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 1px;
  color: #27ae60;
  border: 2px #27ae60 solid;
  text-transform: uppercase;
  border-radius: 2px;
  outline: 0;
  overflow:hidden;
  background: none;
  z-index: 1;
  cursor: pointer;
  transition:         0.3s ease-in-out;
  -o-transition:      0.3s ease-in-out;
  -ms-transition:     0.3s ease-in-out;
  -moz-transition:    0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
}

#menu-toggle:hover {
  color: white;
}

#menu-toggle:before {
  content: "";
  position: absolute;
  background: #27ae60;
  bottom: 0;
  left: 0;
  right: 0;
  top: 100%;
  z-index: -1;
  -webkit-transition: top 0.15s ease-in-out;
}

#menu-toggle:hover:before {
  top: 0;
}

#exampleInputFile {
  height: 40px;
  width: 70%;
}

input span {
  cursor: pointer;
}

@media (min-width:768px) {
   #wrapper {
       padding-left: 200px;
   }

   #wrapper.toggled {
       padding-left: 0;
   }

   #sidebar-wrapper {
       width: 270px;
   }

   #wrapper.toggled #sidebar-wrapper {
       width: 0;
   }

   #page-content-wrapper {
       padding: 20px;
       position: relative;
   }

   #wrapper.toggled #page-content-wrapper {
       position: relative;
       margin-right: 10px;
   }

   .row.the-list .box-wrap {
       display: none;
   }
   /* new line every 2nd box */
   .the-list .box-wrap:nth-child(4n) {
       display: block;
   }

}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
    /* reset new lines */
    .row.the-list .box-wrap {
        display: none;
    }
    /* new line every 3rd box */
    .the-list .box-wrap:nth-child(6n) {
        display: block;
    }

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    /* reset new lines */
    .row.the-list .box-wrap {
        display: none;
    }
    /* new line every 4th box */
    .the-list .box-wrap:nth-child(8n) {
        display: block;
    }
}

@font-face {
    font-family: 'League-Gothic';
    src: url('LeagueGothic-Regular.eot?#iefix') format('embedded-opentype'),
         url('LeagueGothic-Regular.woff') format('woff'),
         url('LeagueGothic-Regular.ttf') format('truetype'),
         url('LeagueGothic-Regular.svg#svgFontName') format('svg');
}

/***
Bootstrap Line Tabs by @keenthemes
A component of Metronic Theme - #1 Selling Bootstrap 3 Admin Theme in Themeforest: http://j.mp/metronictheme
Licensed under MIT
***/

.content {
	padding: 30px;
	background: #e1e1e1;
}

.margin-bottom-30 {
	margin-bottom: 30px;
}

/* Portlet */
.portlet {
	background: #fff;
	padding: 20px;
  width: 100%;
  margin: 0 auto;
}

.portlet.portlet-bordered {
	border: 1px solid #eee;
}

/* Portlet Title */
.portlet-title {
	padding: 0;
	min-height: 40px;
	border-bottom: 1px solid #eee;
}

/* Tab */
.portlet-title > .nav-tabs {
	background: none;
	margin: 0;
	float: left;
	display: inline-block;
	border: 0;
}

.portlet-title > .nav-tabs > li {
	background: none;
	margin: 0;
	border: 0;
  color: #696969;
}

.portlet-title > .nav-tabs > li > a {
	background: none;
	border: 0;
	padding: 8px 10px 11px;
	color: #696969;
  font-size: 12px;
  display: inline-block;
  transition: all 0.4s ease-in;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}

.portlet-title > .nav-tabs > li.active,
.portlet-title > .nav-tabs > li.active:hover {
  	border-bottom: 4px solid #27ae60;
  	position: relative;
    color: black;
  }

  .portlet-title > .nav-tabs > li:hover {
  	border-bottom: 4px solid #59d98e;
  }

.portlet-title > .nav-tabs > li.active > a,
.portlet-title > .nav-tabs > li:hover > a {
	color: #333;
	background: #fff;
	border: 0;
}
