body {
   overflow-x: hidden;
   font-family: 'Roboto', sans-serif;
}

h1 {
   font-family: 'League-Gothic', sans-serif;
   text-transform: uppercase;
   font-size: 4em;
}

/* Toggle Styles */

#wrapper {
   padding-left: 0;
   -webkit-transition: all 0.5s ease;
   -moz-transition: all 0.5s ease;
   -o-transition: all 0.5s ease;
   transition: all 0.5s ease;
}

#wrapper.toggled {
   padding-left: 200px;
}

#sidebar-wrapper {
   z-index: 1000;
   position: fixed;
   left: 1px;
   width: 0;
   height: 100%;
   margin-left: -100px;
   overflow-y: auto;
   background: #27ae60;
   -webkit-transition: all 0.5s ease;
   -moz-transition: all 0.5s ease;
   -o-transition: all 0.5s ease;
   transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
   width: 270px;
}

#page-content-wrapper {
   width: 100%;
   position: absolute;
   padding: 20px;
}

#page-content-wrapper h1 {
   border-left: 15px solid #27ae60;
   font-family: 'League-Gothic', sans-serif;
   text-transform: uppercase;
   font-size: 4.45em;
   padding-left: 10px;
}

#page-content-wrapper h2 {
   font-family: 'League-Gothic', sans-serif;
   font-size: 3.25em;
}

#wrapper.toggled #page-content-wrapper {
   position: absolute;
   margin-right: -370px;
}

.row {
  width: 100%;
}

.information {
    padding: 30px;
    background: white;
    font-family: 'Roboto';
    font-size: 1.1em;
    -webkit-box-shadow: 2px 4px 13px -1px rgba(0,0,0,0.43);
    -moz-box-shadow: 2px 4px 13px -1px rgba(0,0,0,0.43);
    box-shadow: 2px 4px 13px -1px rgba(0,0,0,0.43);
    width: 100%;
    margin: 0 auto;
}

.information p {
  color: #4a4a4a;
  font-size: 1.1em;
}

/* Sidebar Styles */

.sidebar-nav {
   position: absolute;
   top: 0;
   width: 100%;
   margin: 0;
   padding: 0;
   list-style: none;
   background: #27ae60;
}

.sidebar-nav li {
   line-height: 60px;
   text-indent: 100px;
}

.sidebar-nav li a {
   display: block;
   text-decoration: none;
   color: #ecf0f1;
   transition: all ease-in-out 0.3s;
   font-size: 12px;
   font-family: 'Roboto', sans-serif;
}

.sidebar-nav li a:hover {
   color: #fff;
   background: rgba(255,255,255,0.2);
}

.active {
   background: rgba(255,255,255,0.2);
}


.menu-toggle {
   float: right;
}

.table-responsive, a {
   font-family: 'Roboto';
}

.btn-custom {
  display: block;
  color: white;
  font-family: 'Roboto';
  background-color: #27ae60;
  padding: 15px;
  width: 150px;
  border-radius: 0;
  font-size: 1em;
  opacity: 1;
  transition: all 0.3s ease-in-out;
  border: 2px solid #27ae60;
  font-weight: 700;
}

.btn-custom-1 {
  display: block;
  color: #4a4a4a;
  font-family: 'Roboto';
  background-color: #e1e1e1;
  padding: 15px;
  width: 170px;
  border-radius: 0;
  font-size: 1em;
  opacity: 1;
  font-weight: 700;
  transition: all 0.4s ease-in-out;
  border: 2px solid #e1e1e1;
}

.btn-custom-2 {
  color: white;
  font-family: 'Roboto';
  background-color: #27ae60;
  padding: 4px;
  width: 100px;
  border-radius: 20px;
  font-size: 0.9em;
  opacity: 1;
  font-weight: 700;
  transition: all 0.4s ease-in-out;
  border: 2px solid #27ae60;
}

.btn-custom-3 {
  color: #4a4a4a;
  font-family: 'Roboto';
  background-color: #e1e1e1;
  padding: 4px;
  width: 100px;
  border-radius: 20px;
  font-size: 0.9em;
  opacity: 1;
  font-weight: 700;
  transition: all 0.4s ease-in-out;
  border: 2px solid #e1e1e1;
}

.btn-custom-4 {
  color: white;
  font-family: 'Roboto';
  background-color: white;
  border: 2px solid #27ae60;
  padding: 15px;
  width: 75%;
  border-radius: 30px;
  font-size: 0.95em;
  opacity: 1;
  transition: all 0.4s ease-in;
  color: #27ae60;
  font-weight: 700;
  text-transform: uppercase;
}

.btn-custom-4:hover {
  color: white;
  background-color: #27ae60;
}

.btn-custom-5 {
  display: block;
  color: white;
  font-family: 'Roboto';
  background-color: #27ae60;
  padding: 10px;
  width: 100%;
  border-radius: 0;
  font-size: 0.9em;
  opacity: 1;
  transition: all 0.4s ease-in-out;
  border: 2px solid #27ae60;
  font-weight: 700;
}

.btn-custom-6 {
  color: #4a4a4a;
  font-family: 'Roboto';
  background-color: #e1e1e1;
  padding: 10px;
  width: 100%;
  border-radius: 0px;
  font-size: 0.9em;
  opacity: 1;
  transition: all 0.4s ease-in-out;
  font-weight: 700;
  border: 2px solid #e1e1e1;
}

.btn-custom-7 {
  color: white;
  font-family: 'Roboto';
  background-color: #595959;
  padding: 10px;
  width: 100%;
  border-radius: 0px;
  transition: all 0.4s ease-in-out;
  opacity: 1;
  font-weight: 700;
  border: 2px solid #595959;
}

.btn-custom-7:hover {
  background-color: #333333;
  color: white;
  border: 2px solid #333333;
}

.btn-custom-8 {
  display: block;
  color: white;
  font-family: 'Roboto';
  background-color: #27ae60;
  border-radius: 0px;
  font-size: 0.9em;
  opacity: 1;
  transition: all 0.4s ease-in-out;
  height: 52px;
  width: 100px;
}

.btn-custom-9 {
  color: white;
  font-family: 'Roboto';
  background-color: #e74c3c;
  padding: 4px;
  width: 100px;
  border-radius: 20px;
  font-size: 0.9em;
  border: none;

	animation-name: flash;
	animation-duration: 0.8s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;

	//Firefox 1+
	-webkit-animation-name: flash;
	-webkit-animation-duration: 0.8s;
	-webkit-animation-timing-function: linear;
	-webkit-animation-iteration-count: infinite;

	//Safari 3-4
	-moz-animation-name: flash;
	-moz-animation-duration: 0.8s;
	-moz-animation-timing-function: linear;
	-moz-animation-iteration-count: infinite;
}

@keyframes flash {
    0% { opacity: 1.0; }
    50% { opacity: 0.7; }
    100% { opacity: 1.0; }
}

//Firefox 1+
@-webkit-keyframes flash {
    0% { opacity: 1.0; }
    50% { opacity: 0.7; }
    100% { opacity: 1.0; }
}

//Safari 3-4
@-moz-keyframes flash {
    0% { opacity: 1.0; }
    50% { opacity: 0.7; }
    100% { opacity: 1.0; }
}


.btn-custom:hover, .btn-custom-2:hover, .btn-custom-5:hover, .btn-custom-8:hover {
  color: #27ae60;
  background-color: white;
}

.btn-custom-1:hover, .btn-custom-3:hover, .btn-custom-6:hover {
  border: 2px solid #4a4a4a;
  background-color: #e1e1e1;
}

table th {
  background-color: #27ae60;
  color: white;
  text-align: center;
  font-weight: 700;
}

table {
  text-align: center;
  vertical-align: middle;
}

table tr {
  height: 75px;
}

table td {
  position: relative;
  top: 50%;
  transform: translateY(21%);
  white-space: nowrap;
}

.form-group {
    color: #696969;
}

.form-group label {
  font-weight: 400;
}

.form-group p {
  font-weight: 400;
  font-size: 1em;
}

.form-group h4,.admin-message h4 {
  font-weight: 700;
  color: #696969;
}

.admin-message p {
  font-size: 1.075em;
  font-family: 'Rubik', sans-serif;
  color: #404040;
  text-align: justify;
  letter-spacing: 0px;
}

#search-group {
  position: relative;
}

#search-group button {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
}

.admin-message .take-note {
  font-size: 1.1em;
  font-style: italic;
  font-weight: 700;
}

.action-button button {
  display: inline-block;
}

.modal-content {
    padding: 35px 30px 35px 30px;
    border: none;
}


.modal-body p {
  font-family: 'Rubik', sans-serif;
  font-weight: 300;
  font-size: 1.1em;
  color: #696969;
}

.modal-body button {
  display: inline-block;
  margin: 1%;
}

.ticket-summary {
  font-family: 'Roboto', sans-serif;
  font-size: 1.1em;
  font-style: italic;
  color: #4a4a4a;
  margin-bottom: 20px;
}

#sel1, #user-name, #user-password, #sum {
  border-radius: 0;
  color: #696969;
  box-shadow: none;
  height: 52px;
  width: 100%;
  border: 2px solid #e1e1e1;
  transition: all 0.4s ease-in-out;
}

#sel1:focus, #user-name:focus, #user-password:focus, #sum:focus {
  border: 2px solid #27ae60;
}

#dropdown-mobile {
  display: none;
}

.success-message {
  border: 1px solid #27ae60;
  padding: 15px;
  color: #696969;
  width: 100%;
}

.error-message {
  border: 1px solid #e74c3c;
  padding: 15px;
  color: #696969;
  width: 100%;
}

.error-message button {
  background-color: #e74c3c;
  color: white;
  font-family: 'Roboto';
  padding: 4px;
  width: 100px;
  border-radius: 20px;
  font-size: 0.9em;
  opacity: 1;
  font-weight: 700;
  transition: all 0.4s ease-in-out;
  border: 2px solid #e74c3c;
}

.error-message button:hover {
  color: #e74c3c;
}

.success-message h3, .error-message h3 {
  font-weight: 700;
  font-style: italic;
}

.portlet-header button {
  margin-bottom: 30px;
}

.error {
  font-style: italic;
  color: #e74c3c;
  font-weight: 700;
  font-size: 0.9em;
}

.dues-buttons {
  text-align: center;
}

.modal-content .warning-message {
  font-weight: 700;
  font-style: normal;
  font-style: 0.9em;
}

/*new login form */

.header {
  margin-top: 5px;
  background-color: white;
}

.header h2 {
  font-family: 'League-Gothic', sans-serif;
  font-size: 3.25em;
  text-transform: uppercase;
}

.row-hr {
  margin-top: 20px;
  width: 10%;
  border: 1px solid #27ae60;
}

.login-content {
  background-color: #f2f2f2;
}

.login-form {
    padding: 40px;
    background: white;
    font-family: 'Roboto';
    font-size: 1.1em;
    width: 100%;
    margin: 0 auto;
}

.login-form button {
  width: 100%;
}

.error-login {
  padding: 20px;
  padding-bottom: 30px;
  background-color: white;
  color: #e74c3c;
  width: 100%;
  margin: 0 auto;
  font-weight: 700;
  font-size: 1.1em;
  text-align: center;
}

.footer-note {
  font-family: 'Rubik', sans-serif;
  margin-bottom: 15px;
}

.form-group .help-block {
  font-size: 0.95em;
  font-style: italic;
}

.activity-bar {
  padding: 35px;
  background-color: #f2f2f2;
  border-top: 5px solid #e1e1e1;
  width: 100%;
  margin-bottom: 20px;
  margin-top: 20px;
  height: 280px;
  transition: all 0.4s ease-in;
  opacity: 0.8;
}

.activity-bar:hover {
  border-top: 5px solid #27ae60;
}

.activity-bar h4 {
  font-weight: 700;
  color: #696969;
}

.activity-heading {
  font-weight: 700;
  color: #696969;
  text-transform: uppercase;
}

.activity-bar hr {
  border: 2px solid #e1e1e1;
  width: 40px;
}

.activity-heading hr {
  border: 2px solid #27ae60;
  width: 60px;
}

.activity-bar p {
  font-family: 'Rubik', sans-serif;
}

/*end form*/

@media(min-width:768px) {
   #wrapper {
       padding-left: 200px;
   }

   #wrapper.toggled {
       padding-left: 0;
   }

   #sidebar-wrapper {
       width: 270px;
   }

   #wrapper.toggled #sidebar-wrapper {
       width: 0;
   }

   #page-content-wrapper {
       padding: 20px;
       position: relative;
   }

   #wrapper.toggled #page-content-wrapper {
       position: relative;
       margin-right: 10px;
   }
}

@media(max-width:425px) {

  .nopadding {
     padding: 0 !important;
     margin: 0 !important;
  }

}

@media(max-width:768px), (max-width:1024px) {

.row {
    margin-left: 0px;
  }

.btn-custom {
    color: white;
    font-family: 'Roboto';
    background-color: #27ae60;
    padding: 15px;
    width: 100%;
    margin: 0 auto;
    border-radius: 0;
    font-size: 1em;
    opacity: 0.9;
    transition: all 0.3s ease-in-out;
  }

.btn-custom-1 {
    color: #4a4a4a;
    font-family: 'Roboto';
    background-color: #e1e1e1;
    padding: 15px;
    width: 100%;
    border-radius: 0;
    font-size: 1em;
    opacity: 0.9;
    transition: all 0.3s ease-in-out;
    margin: 0 auto;
    margin-bottom: 20px;
  }

#page-content-wrapper h1 {
   border-bottom: 3px solid #27ae60;
   width: 60%;
   border-left: none;
   font-family: 'League-Gothic', sans-serif;
   text-transform: uppercase;
   font-size: 3em;
   padding-bottom: 10px;
   padding-left: 0px;
   margin: 0 auto;
   text-align: center;
   margin-bottom: 20px;
}

#sel1 {
    width: 100%;
    margin-bottom: 20px;
  }

.btn-custom-4 {
  width: 100%;
  margin-top: 10px;
  margin-left: -10px;
}

.login-form .btn-custom-4 {
  margin-left: 0px;
}

.form-group #sel1 {
    width: 100%;
    margin: 0 auto;
  }

.not-important, #not-important{
    display: none;
  }

#dropdown-mobile {
  display: inline-block;
}

th {
  white-space: nowrap;
}

table {
  font-size: 0.95em;
}

p {
  text-align: justify;
}

.footer-note, .login-form, .success-message p, .activity-bar p {
  text-align: center;
}

.footer-note {
  padding: 10px;
}

}

@media(max-width:1550px) {
  .not-important {
      display: none;
    }
}

@font-face {
    font-family: 'League-Gothic';
    src: url('LeagueGothic-Regular.eot?#iefix') format('embedded-opentype'),
         url('LeagueGothic-Regular.woff') format('woff'),
         url('LeagueGothic-Regular.ttf') format('truetype'),
         url('LeagueGothic-Regular.svg#svgFontName') format('svg');
    }

/***
Bootstrap Line Tabs by @keenthemes
A component of Metronic Theme - #1 Selling Bootstrap 3 Admin Theme in Themeforest: http://j.mp/metronictheme
Licensed under MIT
***/

.content {
	padding: 30px;
	background: #e1e1e1;
}

.margin-bottom-30 {
	margin-bottom: 30px;
}

/* Portlet */
.portlet {
	background: #fff;
	padding: 20px;
  width: 100%;
  margin: 0 auto;
}

.portlet.portlet-bordered {
	border: 1px solid #eee;
}

/* Portlet Title */
.portlet-title {
	padding: 0;
  	min-height: 40px;
  	border-bottom: 1px solid #eee;
  	margin-bottom: 18px;
}

.caption {
	float: left;
	display: inline-block;
	font-size: 18px;
	line-height: 18px;
  text-transform: uppercase;
}

.caption.caption-red .caption-subject,
.caption.caption-red i {
	color: #27ae60;
	font-weight: 200;
}

.caption-subject {
	color: #666;
	font-size: 16px;
	font-weight: 600;
}

.caption-helper {
	padding: 0;
	margin: 0;
	line-height: 13px;
	color: #9eacb4;
	font-size: 13px;
	font-weight: 400;
}


/* Tab */
.portlet-title > .nav-tabs {
	background: none;
	margin: 0;
	float: left;
	display: inline-block;
	border: 0;
}

.portlet-title > .nav-tabs > li {
	background: none;
	margin: 0;
	border: 0;
}

.portlet-title > .nav-tabs > li > a {
	background: none;
	border: 0;
	padding: 6px 10px 13px;
	color: #444;
  font-size: 12px;
  display: inline-block;
}

.portlet-title > .nav-tabs > li.active,
.portlet-title > .nav-tabs > li.active:hover {
  	border-bottom: 4px solid #27ae60;
  	position: relative;
    font-weight: 700;
  }

  .portlet-title > .nav-tabs > li:hover {
  	border-bottom: 4px solid #59d98e;
  }

.portlet-title > .nav-tabs > li.active > a,
.portlet-title > .nav-tabs > li:hover > a {
	color: #333;
	background: #fff;
	border: 0;
}
