@media(max-width:600px) {

  #page-content-wrapper {
    padding: 13px 11px;
  }

  #page-content-wrapper h1 {
     width: 100%;
     border-left: none;
     font-family: 'League-Gothic', sans-serif;
     text-transform: uppercase;
     font-size: 1em;
     padding-bottom: 10px;
     padding-left: 0px;
     margin: 0 auto;
     text-align: center;
  }

  input[type=text], input[type=password], input[type=email]  {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }

  textarea, select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: relative;
  }

  .error-message, .success-message {
    padding: 10px;
    border-radius: 0;
    line-height: 15px;
  }

  .success-message {
    border: 1px solid #27ae60;
  }

  .error-message {
    border: 1px solid #e74c3c;
  }

  .success-message h3, .error-message h3 {
    font-size: 1.2em;
  }

  .ticket-id {
    padding: 7px;
    border: 1px solid #696969;
    border-left: 5px solid #696969;
    width: 150px;
    margin: 0 auto;
  }

  .btn-custom-2 {
    padding: 3px;
    width: 100px;
    font-size: 0.8em;
    border: 1px solid #27ae60;
  }

  .btn-custom-9 {
    padding: 3px;
    width: 100px;
    font-size: 0.8em;
    border: 1px solid #e74c3c;
  }

  .btn-custom-3 {
    padding: 3px;
    width: 100px;
    font-size: 0.8em;
    border: 1px solid #e1e1e1;
  }

  .error-message button {
    padding: 3px;
    width: 100px;
    font-size: 0.8em;
    border: 1px solid #e74c3c;
  }

  .btn-custom-2:hover {
    border: 1px solid #27ae60;
    box-shadow: none;
  }

  .error-message button:hover {
    border: 1px solid #e74c3c;
  }

  .btn-custom {
    padding: 13px;
    font-size: 0.85em;
    font-weight: 700;
    border: 1px solid #27ae60;
    -webkit-box-shadow: 0px 2px 0px 0px #219150;
    -moz-box-shadow: 0px 2px 0px 0px #219150;
    box-shadow: 0px 2px 0px 0px #219150;
  }

  .btn-custom-1 {
    padding: 13px;
    font-size: 0.85em;
    font-weight: 700;
    border: 1px solid #f2f2f2;
    -webkit-box-shadow: 0px 2px 0px 0px #e1e1e1;
    -moz-box-shadow: 0px 2px 0px 0px #e1e1e1;
    box-shadow: 0px 2px 0px 0px #e1e1e1;
  }

  .btn-custom-5 {
    display: none;
  }

  .btn-custom:hover {
    border: 1px solid #219150;
  }

  .btn-custom-1:hover {
    border: 1px solid #e1e1e1;
  }

  .nopadding {
     padding: 0 !important;
     margin: 0 !important;
  }

  .login-form:hover {
    box-shadow: none;
  }

  span.sign-out, .user-note, .sign-out .dropdown-toggle .badge, .activity-heading, .activity-bar, .main-title, #menu-toggle, .header, .login-content .btn-custom-4, .forgot-password, .information-other, .sign-out .dropdown-toggle, hr.colored-hr {
    display: none;
  }

  .announcement-message p, .admin-message p, .court-message p, .announcement-message .date-posted, .information-add a, .success-message p, .error-message p {
    font-size: 0.90em;
    font-family: 'Roboto';
    font-weight: 400;
  }

  .form-group .help-block {
    font-size: 0.80em;
  }

  .modal-content p {
    font-size: 0.90em;
    font-family: 'Roboto';
    font-weight: 400;
    text-align: justify;
  }

  #page-content-wrapper .archive-part a p {
    line-height: 20px;
  }

  #page-content-wrapper .archive-part a {
    font-family: 'Roboto';
    font-size: 0.90em;
  }

  .form-group h4, .admin-message h4, .announcement-message h4, .modal-content h4, .tab-content h4 {
    font-family: 'Roboto';
    font-size: 16px;
  }

  #sel1, #user-name, #user-password, #sum, #datetimepicker4, #confirm-password, #user-message {
    font-family: 'Roboto';
    font-size: 12px;
    border: 1px solid #e1e1e1;
  }

  #sel1:focus, #user-name:focus, #user-password:focus, #sum:focus, #user-message:focus {
    border: 1px solid #27ae60;
  }

  .information, .information-1, .information-add {
    padding: 15px;
    border: 1px solid #e6e6e6;
    box-shadow: none;
  }

  .information:hover, .information-1:hover {
    border: 1px solid #cccccc;
  }

  .information-add {
    height: 150px;
    margin-bottom: 15px;
  }

  .information-1 {
    padding: 20px;
    margin-bottom: 0;
  }

  .view-icon {
    display: block;
    cursor: pointer;
    position: absolute;
    bottom: -50px;
    right: 50%;
    margin-right: -61px;
    padding: 10px 17px;
    background-color: #27ae60;
    border: 1px solid #27ae60;
    font-weight: 400;
    text-transform: none;
    font-size: 11px;
    border-radius: 20px;
    color: white;
  }

  .icon-pg {
    display: block;
    border-bottom: 1px solid hsl(0, 0%, 93%);
    height: 51px;
    background-color: white;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
  }

  #contents {
    margin-top: 40px;
  }

  #contents #page-content-wrapper h1 {
    font-size: 2.1em;
    padding: 0;
  }

  .icon-pg span.glyphicon-tree-deciduous {
    font-size: 1.35em;
    color: #27ae60;
}

  .create-ticket {
    padding: 20px 35px 22px 30px;
    font-size: 16px;
    top: -35px;
  }

  .mobile-nav {
    display: block;
    padding: 25px 15px 25px 7px;
    background-color: hsl(0, 0%, 99%);
    border-top: 1px solid hsl(0, 0%, 93%);
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    z-index: 10;
  }

  .mobile-nav ul {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    margin: 0;
    padding: 0;
    cursor: pointer;
    white-space: nowrap;
    position: relative;
  }

  .mobile-nav li {
    list-style-type: none;
    color: #999;
    font-size: 13px;
    font-weight: 700;
    border: none;
    position: relative;
  }

  .mobile-nav li a {
    color: inherit;
    text-decoration: none;
  }

  .mobile-nav .active {
    color: #27ae60;
  }

  .mobile-nav .badge {
    background-color: #27ae60;
    border: 1px solid #27ae60;
    color: white;
    padding: 2px 5px;
    font-size: 9px;
  }

  .mobile-nav li:nth-child(1) .badge {
    position: absolute;
    top: 1px;
    left: 33px;
  }

  .mobile-nav li:nth-child(2) .badge {
    position: absolute;
    top: 1px;
    left: 41px;
  }

  .mobile-nav li.reserve-badge:nth-child(2) .badge {
    position: absolute;
    top: 1px;
    left: 59px;
  }

  .mobile-nav li.forms-badge:nth-child(3) .badge {
    position: absolute;
    top: 1px;
    left: 104px;
  }

  .mobile-nav li.dues-badge:nth-child(4) .badge {
    position: absolute;
    top: 1px;
    left: 20px;
  }

  .overlay {
    display: block;
  }

  .send-mobile {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 0.9em;
    font-weight: 300;
    color: #27ae60;
    border-top: 1px solid #f2f2f2;
    padding: 17px;
  }

  .court-message .form-group {
    margin: 20px 0;
    padding: 0;
    border: 0;
  }

  .dues-buttons li:nth-child(-n+5) {
    display: none;
  }

  .dues-buttons .dropdown-menu li {
    display: block;
    z-index: 1;
    margin: 0;
    padding: 0;
    color: #696969;
    list-style-type: none;
  }

  .dues-buttons .dropdown-menu li:first-child {
    font-weight: inherit;
    text-transform: none;
    letter-spacing: 0;
  }

  .dues-buttons li:nth-child(6) {
    display: inline-block;
  }

  .login-form {
    margin: 10px 0;
    padding: 20px 25px;
  }

  .header-1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .create-ticket {
    right: -10px;
  }

  .form-group p {
    font-size: 0.90em;
  }

  .sign-in, .forgot-password-1, .court-message {
    display: block;
  }

  .mobile-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    font-size: 13px;
    font-family: 'Roboto', sans-serif;
  }

  .login-content #user-name, .login-content #user-password {
    font-size: 13px;
    height: 45px;
  }

  .footer-note, .footer-note-1 {
    font-size: 0.9em;
    font-family: 'Roboto', sans-serif;
  }

}

@media(max-width:768px) {
  .not-important, #not-important{
      display: none;
    }

  #dropdown-mobile {
    display: inline-block;
  }
}

@media(max-width:768px), (max-width:1024px) {

.information {
    margin-bottom: 30px;
}

hr.colored-hr {
  border: 0;   /* in order to override TWBS stylesheet */
  height: 2px;

  background: rgba(242,242,242,1);
  background: -moz-linear-gradient(right, rgba(242,242,242,1) 0%, rgba(242,242,242,1) 50%, rgba(39,174,96,1) 50%, rgba(39,174,96,1) 90%, rgba(39,174,96,1) 100%);
  background: -webkit-gradient(right top, left top, color-stop(0%, rgba(242,242,242,1)), color-stop(50%, rgba(242,242,242,1)), color-stop(50%, rgba(39,174,96,1)), color-stop(90%, rgba(39,174,96,1)), color-stop(100%, rgba(39,174,96,1)));
  background: -webkit-linear-gradient(right, rgba(242,242,242,1) 0%, rgba(242,242,242,1) 50%, rgba(39,174,96,1) 50%, rgba(39,174,96,1) 90%, rgba(39,174,96,1) 100%);
  background: -o-linear-gradient(right, rgba(242,242,242,1) 0%, rgba(242,242,242,1) 50%, rgba(39,174,96,1) 50%, rgba(39,174,96,1) 90%, rgba(39,174,96,1) 100%);
  background: -ms-linear-gradient(right, rgba(242,242,242,1) 0%, rgba(242,242,242,1) 50%, rgba(39,174,96,1) 50%, rgba(39,174,96,1) 90%, rgba(39,174,96,1) 100%);
  background: linear-gradient(to left, rgba(242,242,242,1) 0%, rgba(242,242,242,1) 50%, rgba(39,174,96,1) 50%, rgba(39,174,96,1) 90%, rgba(39,174,96,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f2f2', endColorstr='#27ae60', GradientType=1 );

}

.archive-part {
  padding-left: 0px;
}

.row {
    margin-left: 0px;
  }

.btn-custom, .btn-custom-1, #exampleInputFile {
    width: 100%;
  }

.btn-custom-4 {
  width: 100%;
  margin-top: 10px;
  margin-left: -10px;
}

.login-form .btn-custom-4, .ticket-type {
  margin-left: 0px;
}

#page-content-wrapper h1 {
   width: 100%;
   border-left: none;
   font-family: 'League-Gothic', sans-serif;
   text-transform: uppercase;
   font-size: 2.55em;
   padding-bottom: 10px;
   padding-left: 0px;
   margin: 0 auto;
   text-align: center;
}

.header h2 {
  font-family: 'League-Gothic', sans-serif;
  font-size: 2.3em;
  text-transform: uppercase;
  padding: 5px;
}

#sel1 {
    width: 100%;
    margin-bottom: 20px;
  }

.form-group #sel1 {
  width: 100%;
  margin: 0 auto;
}

table {
  font-size: 0.95em;
  white-space: nowrap;
}

p {
  text-align: justify;
}

.footer-note, .login-form, .success-message p, .activity-bar p {
  text-align: center;
}

.footer-note {
  padding: 5px;
}

.user-deact {
  padding: 20px;
}

}

@media(max-width:1550px) {
  .not-important {
      display: none;
    }
}
