@media(max-width:600px) {

  .nopadding {
     padding: 0 !important;
     margin: 0 !important;
  }

  .court-message .form-group {
    margin: 20px 0;
    padding: 0;
    border: 0;
  }

  .dues-buttons li:nth-child(-n+4) {
    display: none;
  }

  .dues-buttons .dropdown-menu li {
    display: block;
    z-index: 1;
    margin: 0;
    padding: 0;
    color: #696969;
    list-style-type: none;
  }

  .dues-buttons .dropdown-menu li:first-child {
    font-weight: inherit;;
    text-transform: none;
    letter-spacing: 0;
  }

  .dues-buttons li:nth-child(5) {
    display: inline-block;
  }

  .loader {
    display: none;
  }

  .login-form {
    margin: 10px 0;
    padding: 20px 25px;
  }

  .header-1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .create-ticket {
    right: -10px;
  }

  .form-group p {
    font-size: 0.90em;
  }

  .form-group h4 {
    font-size: 1em;
  }

  .sign-in, .forgot-password-1, .court-message {
    display: block;
  }

  .mobile-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    font-size: 13px;
  }

  .login-content #user-name, .login-content #user-password {
    font-size: 13px;
    height: 45px;
  }

  .header, .login-content .btn-custom-4, .forgot-password {
    display: none;
  }

  .footer-note, .footer-note-1 {
    font-size: 12px;
  }

}

@media(max-width:768px) {
  .not-important, #not-important{
      display: none;
    }

  #dropdown-mobile {
    display: inline-block;
  }
}

@media(max-width:768px), (max-width:1024px) {

.information {
    margin-bottom: 30px;
}

hr.colored-hr {
  border: 0;   /* in order to override TWBS stylesheet */
  height: 2px;

  background: rgba(242,242,242,1);
  background: -moz-linear-gradient(left, rgba(242,242,242,1) 0%, rgba(242,242,242,1) 50%, rgba(39,174,96,1) 50%, rgba(39,174,96,1) 90%, rgba(39,174,96,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(242,242,242,1)), color-stop(50%, rgba(242,242,242,1)), color-stop(50%, rgba(39,174,96,1)), color-stop(90%, rgba(39,174,96,1)), color-stop(100%, rgba(39,174,96,1)));
  background: -webkit-linear-gradient(left, rgba(242,242,242,1) 0%, rgba(242,242,242,1) 50%, rgba(39,174,96,1) 50%, rgba(39,174,96,1) 90%, rgba(39,174,96,1) 100%);
  background: -o-linear-gradient(left, rgba(242,242,242,1) 0%, rgba(242,242,242,1) 50%, rgba(39,174,96,1) 50%, rgba(39,174,96,1) 90%, rgba(39,174,96,1) 100%);
  background: -ms-linear-gradient(left, rgba(242,242,242,1) 0%, rgba(242,242,242,1) 50%, rgba(39,174,96,1) 50%, rgba(39,174,96,1) 90%, rgba(39,174,96,1) 100%);
  background: linear-gradient(to right, rgba(242,242,242,1) 0%, rgba(242,242,242,1) 50%, rgba(39,174,96,1) 50%, rgba(39,174,96,1) 90%, rgba(39,174,96,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f2f2', endColorstr='#27ae60', GradientType=1 );

}

.archive-part {
  padding-left: 0px;
}

.row {
    margin-left: 0px;
  }

.btn-custom, .btn-custom-1, #exampleInputFile {
    width: 100%;
  }

.btn-custom-4 {
  width: 100%;
  margin-top: 10px;
  margin-left: -10px;
}

.login-form .btn-custom-4, .ticket-type {
  margin-left: 0px;
}

#page-content-wrapper h1 {
   width: 100%;
   border-left: none;
   font-family: 'League-Gothic', sans-serif;
   text-transform: uppercase;
   font-size: 2.55em;
   padding-bottom: 10px;
   padding-left: 0px;
   margin: 0 auto;
   text-align: center;
}

.header h2 {
  font-family: 'League-Gothic', sans-serif;
  font-size: 2.3em;
  text-transform: uppercase;
  padding: 5px;
}

#sel1 {
    width: 100%;
    margin-bottom: 20px;
  }

.form-group #sel1 {
  width: 100%;
  margin: 0 auto;
}

table {
  font-size: 0.95em;
  white-space: nowrap;
}

p {
  text-align: justify;
}

.footer-note, .login-form, .success-message p, .activity-bar p, .modal-content p {
  text-align: center;
}

.footer-note {
  padding: 5px;
}

.user-deact {
  padding: 20px;
}

}

@media(max-width:1550px) {
  .not-important {
      display: none;
    }
}
