body {
   overflow-x: hidden;
   font-family: 'Roboto', sans-serif;
}

h1 {
   border-left: 15px solid #27ae60;
   font-family: 'League-Gothic', sans-serif;
   text-transform: uppercase;
   font-size: 4.45em;
   padding-left: 10px;
}

h2 {
   font-family: 'League-Gothic', sans-serif;
   font-size: 3.25em;
}

.row {
  width: 100%;
  margin: 0 auto;
}

.btn-custom {
  display: block;
  color: white;
  font-family: 'Roboto';
  background-color: #27ae60;
  padding: 15px;
  width: 200px;
  border-radius: 0;
  font-size: 1em;
  opacity: 0.9;
  transition: all 0.3s ease-in-out;
  margin: 0 auto;
}

p {
  font-size: 1.2em;
  font-family: 'Roboto';
  font-weight: 300;
}

@media(max-width:1000px) {

.row {
  margin: 0 auto;
}

.btn-custom {
  display: block;
  color: white;
  font-family: 'Roboto';
  background-color: #27ae60;
  padding: 15px;
  width: 60%;
  border-radius: 0;
  font-size: 1em;
  opacity: 0.9;
  transition: all 0.3s ease-in-out;
  margin: 0 auto;
}

}

@font-face {
    font-family: 'League-Gothic';
    src: url('C:/Users/Y50-70/Desktop/UST 4ISC/Parkwood Front-End/fontsLeagueGothic-Regular.eot?#iefix') format('embedded-opentype'),
         url('C:/Users/Y50-70/Desktop/UST 4ISC/Parkwood Front-End/fonts/LeagueGothic-Regular.woff') format('woff'),
         url('C:/Users/Y50-70/Desktop/UST 4ISC/Parkwood Front-End/fonts/LeagueGothic-Regular.ttf')  format('truetype'),
         url('C:/Users/Y50-70/Desktop/UST 4ISC/Parkwood Front-End/fonts/LeagueGothic-Regular.svg#svgFontName') format('svg');
    }
